header.main-header.content-center   
        a(href="") 
            img(src="./public/images/logo.svg", alt="")
        nav 
            ul 
                li 
                    a(href="") Home
                li 
                    a(href="") Explore
                li 
                    a(href="") Travel
                li 
                    a(href="") Blog
                li 
                    a(href="") Pricing
        .buttons    
            +Button('Login')
            +Button('Sign up', "is-primary")