$primaryColor: #ff7757;

$secondaryButtonColor: #ff7654;

$mainTextColor: #172432;

$secondaryTextColor: #767e86;

$primaryBackground: #fff8f1;

$secondaryBackground: #f5f6f7;

$breakpoints: (
    "mobile": (
        max-width: 375px,
    ),
    "tablet": (
        max-width: 834px,
    ),
    "small_laptop": (
        max-width: 1023px,
    ),
    "laptop": (
        max-width: 1100px,
    ),
) !default;
